### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [8]:
School_Counts=school_data["school_name"].value_counts()

total_school_counts=len(School_Counts)

total_school_counts

15

In [20]:
Student_Counts=student_data["student_name"].count()


Student_Counts

39170

In [23]:
Budget_Total=school_data["budget"].sum()

Budget_Total

24649428

In [24]:
Mean_Math_Score=student_data["math_score"].mean()

Mean_Math_Score

78.98537145774827

In [25]:
Mean_Reading_Score=student_data["reading_score"].mean()

Mean_Reading_Score

81.87784018381414

In [53]:
num_passing_math= student_data.loc[student_data["math_score"]>=70,"student_name"].count()

percent_passing_math=num_passing_math / Student_Counts

In [55]:
num_passing_reading= student_data.loc[student_data["reading_score"]>=70,"student_name"].count()

percent_passing_reading=num_passing_reading / Student_Counts

percent_passing_reading

0.8580546336482001

In [60]:
Overall_Num=student_data.loc[(student_data["math_score"]>=70) & (student_data["reading_score"]>=70),"Student ID"].count()

percent_passing_overall=Overall_Num  / Student_Counts

percent_passing_overall

0.6517232575950983

In [62]:
Summary_Table=pd.DataFrame({"Total Schools": [total_school_counts],"Total Students":[Student_Counts],"Total Budget":[Budget_Total],
                            "Average Math Score":[Mean_Math_Score],"Average Reading":[Mean_Reading_Score],
                            "Passing Math":[percent_passing_math*100], "Passing Reading":[percent_passing_reading*100],
                            "Overall Passing":[percent_passing_overall*100]
                           
                           }) 

Summary_Table

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading,Passing Math,Passing Reading,Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [92]:
Names_of_Schools=school_data.set_index(["school_name"])

Names_of_Schools

                       School ID      type  size   budget
school_name
Huang High School              0  District  2917  1910635
Figueroa High School           1  District  2949  1884411
Shelton High School            2   Charter  1761  1056600
Hernandez High School          3  District  4635  3022020
Griffin High School            4   Charter  1468   917500
Wilson High School             5   Charter  2283  1319574
Cabrera High School            6   Charter  1858  1081356
Bailey High School             7  District  4976  3124928
Holden High School             8   Charter   427   248087
Pena High School               9   Charter   962   585858
Wright High School            10   Charter  1800  1049400
Rodriguez High School         11  District  3999  2547363
Johnson High School           12  District  4761  3094650
Ford High School              13  District  2739  1763916
Thomas High School            14   Charter  1635  1043130

In [131]:
#School_Types=school_data.set_index(["type"])

#School_Types

School_Types=school_group_by["type"]

School_Types

TypeError: 'DataFrameGroupBy' object is not callable

In [103]:
school_group_by[["student_name"]].count()

                       student_name
school_name
Bailey High School             4976
Cabrera High School            1858
Figueroa High School           2949
Ford High School               2739
Griffin High School            1468
Hernandez High School          4635
Holden High School              427
Huang High School              2917
Johnson High School            4761
Pena High School                962
Rodriguez High School          3999
Shelton High School            1761
Thomas High School             1635
Wilson High School             2283
Wright High School             1800

In [124]:
Mean_Math=school_group_by["math_score"].mean()

Mean_Math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [125]:
Mean_Reading=school_group_by["reading_score"].mean()

Mean_Reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [117]:
total_students_school=school_group_by["math_score"].count()

total_students_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: math_score, dtype: int64

In [153]:
Percent_Math = school_group_by["math_score"].count()

Percent_Math/

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: math_score, dtype: int64

In [84]:
Overall_Num=school_data_complete.loc[(student_data["math_score"]>=70) & (student_data["reading_score"]>=70)].groupby("school_name")["reading_score"].count()

#percent_passing_overall=Overall_Num  / Student_Counts

#percent_passing_overall

Overall_School_Passing=(Overall_Num / total_students_school)*100

Overall_School_Passing

school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [140]:
Summary_of_Schools=pd.DataFrame({"Total Students":total_students_school,"Average Math Score":Mean_Math,
              "Average Reading Score":Mean_Reading,"Overall Passing":Overall_School_Passing})

Summary_of_Schools

,Total Students,Average Math Score,Average Reading Score,Overall Passing
school_name,,,,
Bailey High School,4976,77.048432,81.033963,54.642283
Cabrera High School,1858,83.061895,83.975780,91.334769
Figueroa High School,2949,76.711767,81.158020,53.204476
Ford High School,2739,77.102592,80.746258,54.289887
Griffin High School,1468,83.351499,83.816757,90.599455
Hernandez High School,4635,77.289752,80.934412,53.527508
Holden High School,427,83.803279,83.814988,89.227166
Huang High School,2917,76.629414,81.182722,53.513884
Johnson High School,4761,77.072464,80.966394,53.539172
Pena High School,962,83.839917,84.044699,90.540541
Rodriguez High School,3999,76.842711,80.744686,52.988247
Shelton High School,1761,83.359455,83.725724,89.892107
Thomas High School,1635,83.418349,83.848930,90.948012
Wilson High School,2283,83.274201,83.989488,90.582567
Wright High School,1800,83.682222,83.955000,90.333333

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [144]:
Best_Passing_Stu = Summary_of_Schools.sort_values(["Overall Passing"], ascending=False).head(5)

Best_Passing_Stu

,Total Students,Average Math Score,Average Reading Score,Overall Passing
school_name,,,,
Cabrera High School,1858,83.061895,83.975780,91.334769
Thomas High School,1635,83.418349,83.848930,90.948012
Griffin High School,1468,83.351499,83.816757,90.599455
Wilson High School,2283,83.274201,83.989488,90.582567
Pena High School,962,83.839917,84.044699,90.540541

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [149]:
Worst_Passing_Stu = Summary_of_Schools.sort_values(["Overall Passing"], ascending=True).head(5)

Worst_Passing_Stu

,Total Students,Average Math Score,Average Reading Score,Overall Passing
school_name,,,,
Rodriguez High School,3999,76.842711,80.744686,52.988247
Figueroa High School,2949,76.711767,81.158020,53.204476
Huang High School,2917,76.629414,81.182722,53.513884
Hernandez High School,4635,77.289752,80.934412,53.527508
Johnson High School,4761,77.072464,80.966394,53.539172

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [ ]:
df.loc[df["grade"] == "9th" ]

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [ ]:
pd.cut bins=[]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [ ]:
bins

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
.groupby()